body {
  /* you can replace body with head and it will only move head, or body with p or section, etc */
  margin: 100px; /* how you are 'squeezing' different elements/how far from the side ofwindow */
  padding: 0; /* How you are 'squeezing' different elements */
  font-size: 18px;
  line-height: 150%; /* line spacing */
  color: #333;
  background: #61d6e0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  background: #333;
}

h1 {
  color: #eee;
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

.container {
  /* anything placed in here will format whatever is in the 'container' class */
  width: 1024px;
  margin: 0 auto; /* typing '0 auto' sets top, right, bottom, left (trbl) margins to 0 */
}

#bio-image,
#main-bio,
#contact-info {
  float: left; /* changes placement of all of these to the left*/
}
#main-bio {
  width: 70%;
}

#bio-image {
  width: 200px; /*changes the width of the container that bio-image is in*/
  height: 200px; /*changes the height of the container that bio-image is in*/
  margin-right: 20px;
}

#contact-info {
  width: 30%;
}
